## Capstone Project Week 3 Assignment - Toronto Segmentation and Clustering

### (1) Use Beautiful Soup to scrap data from Wiki Page

In [282]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import pandas as pd
import numpy as np

In [283]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [284]:
with urlopen(url) as html_file:
    soup = BeautifulSoup(html_file, 'lxml')

### Scrap the data and put into a dataframe
Converted "Not assigned" to np.nan for easy filtering later on

In [285]:
    table = soup.find('table', class_= 'wikitable sortable')
    row_marker = 0
    all_rows=[]
    for row in table.find_all('tr'):
        column_marker = 0
        columns = row.find_all('td')
        thisrow=[]
        for column in columns:
            val = column.get_text().strip()
            if  (val == 'Not assigned'):
                thisrow.append(np.nan)
            else:
                 thisrow.append(column.get_text().strip())
                    
        # If this td has data, append to the dataframe
        if  thisrow:
            all_rows.append(thisrow)
    df = pd.DataFrame(all_rows, columns =['Postal Code', 'Borough', 'Neighborhood'], dtype = str) 
    df.head()

  Postal Code           Borough      Neighborhood
0         M1A               NaN               NaN
1         M2A               NaN               NaN
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront

### (2) Clean the data in the dataframe
####  Remove rows with Borough Not Assigned  ( Row count before and after)

In [286]:
## Ignore rows with Borough Not Assigned
print ("Rows before drop : " + str(df.shape))
df.dropna(subset=['Borough'], inplace=True)
print ("Rows after drop : " + str(df.shape))

Rows before drop : (288, 3)
Rows after drop : (211, 3)

####  Row with unassgined neighborhood will be assigned borough (if the borough is assigned)  e.g. M7A

In [287]:
## Find rows with Neighborhood=NaN and Borough is not empty
df[(df['Neighborhood'].isnull())  &  (df['Borough'].notnull())]

  Postal Code       Borough Neighborhood
8         M7A  Queen's Park          NaN

In [288]:
thisCondition=(df['Neighborhood'].isnull())  &  (df['Borough'].notnull())
rowsToChange = df[thisCondition]['Borough'].index.values.astype(int)
df.loc[rowsToChange,'Neighborhood'] = df.loc[rowsToChange]['Borough']

In [289]:
## Check value after change
df[df['Postal Code']=='M7A']

  Postal Code       Borough  Neighborhood
8         M7A  Queen's Park  Queen's Park

In [290]:
####  Combine neighborhoods for same postal code  ( example M5A)
print ("Before combine neighborhood for same postal code")
df[df['Postal Code']=='M5A']

Before combine neighborhood for same postal code

  Postal Code           Borough  Neighborhood
4         M5A  Downtown Toronto  Harbourfront
5         M5A  Downtown Toronto   Regent Park

In [291]:
newdf=df.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(lambda x: "%s" % ', '.join(x.astype(str))).reset_index()

print ("After combine neighborhood for same postal code")
newdf[newdf['Postal Code']=='M5A']

After combine neighborhood for same postal code

   Postal Code           Borough               Neighborhood
53         M5A  Downtown Toronto  Harbourfront, Regent Park

## Shape after cleaning data

In [292]:
newdf.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Rouge, Malvern
1         M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [293]:
newdf.shape

(103, 3)